<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log_format">[%-5p] %d{yyyy-MM-dd HH:mm:ss} %X{AWSRequestId} %c{10} - %m%n</Property>
    </Properties>
    <Appenders>
        <Lambda name="Lambda">
            <PatternLayout>
                <pattern>${log_format}</pattern>
            </PatternLayout>
        </Lambda>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Lambda"/>
        </Root>
        <Logger name="software.amazon.awssdk" level="WARN" />
        <Logger name="software.amazon.awssdk.request" level="DEBUG" />
    </Loggers>
</Configuration>
