<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="log_format">%-5p %X{AWSRequestId} %c{10} - %m%n%ex</Property>
        <Property name="loglevel">${env:loglevel}</Property>
    </Properties>
    <Appenders>
        <Lambda name="Lambda">
            <PatternLayout>
                <pattern>${log_format}</pattern>
            </PatternLayout>
        </Lambda>
    </Appenders>
    <Loggers>
        <Root level="${loglevel}">
            <AppenderRef ref="Lambda"/>
        </Root>
    </Loggers>
</Configuration>
